@media (prefers-color-scheme: dark) {
    :root {
        --icon-color: white;
        --background-color: #0f2838;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --icon-color: white;
        --background-color: #2c80b4;
    }
}